/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utils*/
.w-30 {
    flex-basis: 30%;
}

.w-40 {
    flex-basis: 40%;
}

.w-60 {
    flex-basis: 60%;
}

.w-70 {
    flex-basis: 70%;
}

.button {
    color: #fff;
    background-color: #0061FF;
    padding: 10px 15px;
    display: inline-block;

}

/*generals*/
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    padding-top: 50px;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 50px;
}

.big-container {
    flex-basis: 65%;
    flex-wrap: wrap
}

.small-container {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px;
    border: 2px dashed;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 80px;

    background-color: #fff;
    box-shadow: 0 1px 3px #666;
    padding: 20px;

}

header ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

a img {
    max-width: 100%;
    display: block;
}

/*jumbotron*/
.jumbotron {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    min-height: 750px;
    background-color: #B4D0E7;
    margin-bottom: 50px;
}

.big-container {
    display: flex;

}

.big-container p {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.w-30 a {
    margin-bottom: 30px;
}

.fa-arrow-down {
    margin-top: 150px;
}


/*business-plans*/
.business-plans {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    flex-basis: 100%;
}

.business-plans .col {
    flex-basis: calc(100% / 3 - 100px / 3);

}

.business-plans .full-col {
    flex-basis: 100%;
}

.plan-card {
    border: 2px dashed;
    min-height: 350px;
}

.small-container div {
    min-height: 500px;
    border: 2px dashed;
}

/*business-operation*/
.operation-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px;
    border: 2px dashed;
    gap: 30px;
}

.operation-container div {
    min-height: 500px;
    border: 2px dashed;
}

.col {

    flex-basis: calc(100% / 3 - 60px / 3);
}

/*sponsors*/
.text-container {
    max-width: 60%;
    margin: 0 auto;
    border: 2px dashed black;
}

.sponsors-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px dashed black;
}

.left-sponsors {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
}

.right-sponsors {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3)
}

.box {
    border: 2px dashed;

}

.big-box {
    flex-grow: 1;
    border: 2px dashed;
}