/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utils*/
.w-30 {
    flex-basis: 30%;
}

.w-40 {
    flex-basis: 40%;
}

.w-60 {
    flex-basis: 60%;
}

.w-70 {
    flex-basis: 70%;
}

.button {
    color: #fff;
    background-color: #0061FF;
    padding: 10px 15px;
    display: inline-block;
    margin: 30px 0px;

}

.reverse-button {
    color: black;
    background-color: #fff;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid;
    margin-top: 30px;

}

/*generals*/
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    padding-top: 50px;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 50px;
}

.big-container {
    flex-basis: 65%;
    flex-wrap: wrap
}

.small-container {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px;
    border: 2px dashed;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.plan-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.plan-main {
    padding: 0px 40px;
}

ul li {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.duration {
    display: block;
    color: rgb(128, 128, 128, );
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5rem;
    margin: 30px 0px;
}

.fa-check {
    color: #0061FF;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;

    height: 80px;

    background-color: #fff;
    box-shadow: 0 1px 3px #666;
    padding: 20px;

}

header ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

a img {
    max-width: 100%;
    display: block;
}

/*jumbotron*/
.jumbotron {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    min-height: 750px;
    background-color: #B4D0E7;
    margin-bottom: 80px;
}

.big-container {
    display: flex;

}

.big-container p {

    font-size: 1.2rem;
}

.w-30 a {
    margin-bottom: 30px;
}

.fa-arrow-down {
    margin-top: 150px;
}

.w-70 img {
    translate: 0px 70px;
}

/*business-plans*/
.h2-container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.business-plans {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    flex-basis: 100%;
}

.business-plans .col {
    flex-basis: calc(100% / 3 - 80px / 3);

}

.business-plans .full-col {
    flex-basis: 100%;
}

.plan-card {
    border: 1px solid rgb(128, 128, 128, 0.5);
    min-height: 1000px;
}

.big-plan-card {
    border: 1px solid rgb(128, 128, 128, 0.5);
}

.plan-main div a {
    text-decoration: underline;
    color: #0061FF;
}

.divisor {
    max-width: 50px;
    border-bottom: 1px solid gray;
    margin: 30px 0px;
}

.plan-main>a {
    display: block;
    text-align: center;
}

.big-plan-main {
    display: flex;
    justify-content: space-between;
    padding: 40px;

}

.big-plan-main p {
    margin-top: 50px;
}

.big-plan-main a {
    display: block;
    text-align: center;

}

/*partner*/
.small-container .w-40 {
    padding: 50px;
}

/*business-operation*/
.operation-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px;
    border: 2px dashed;
    gap: 30px;
}

.operation-container div {
    min-height: 500px;
    border: 2px dashed;
}

.col {

    flex-basis: calc(100% / 3 - 60px / 3);
}

/*sponsors*/
.text-container {
    max-width: 60%;
    margin: 0 auto;
    border: 2px dashed black;
}

.sponsors-container {
    display: flex;
    margin: 0 auto;
    border: 2px dashed black;
}

.box {
    width: 50%;
    height: 50%;
    border: 2px dashed;
}

.big-box {
    display: flex;
    flex-wrap: wrap;

    width: calc(100vw / 3);
    height: calc(100vw / 3);

    border: 2px dashed;
}

.box img {
    width: 50%;
}